<%- include ("partials/header") -%>

<section id="banner">
    <div class="container">
        <div class="group text-center">
            <h2>Brand new!</h2>
            <h3>Wedding Shop is now opened!</h3>
            <button class="btn btn-block">Shop Now</button>
        </div>
    </div>
</section>

<section id="email">
    <div class="container">
        <h2 class="text-center">Sign up to get the latest deals!</h2>
        <p>They now walked on in silence, each of them deep in thought. Elizabeth was not comfortable; that was impossible; but she was flattered and pleased. His wish of introducing his sister to her was a compliment of the highest kind. They soon outstripped the others, and when they had reached the carriage, Mr. and Mrs. Gardiner were half a quarter of a mile behind.</p>
        
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-5">
                        <input type="name" class="form-control form-group" placeholder="name">
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-5">
                        <input type="email" class="form-control form-group" placeholder="email">
                    </div>

                    <div class="col-sm-12 col-md-2 col-lg-2">
                        <input type="button" value="Submit" class="form-group btn btn-block">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section id="featured">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://cdn.pixabay.com/photo/2017/02/08/02/56/booties-2047596_960_720.jpg" alt="Baby shoes on baby blanket" class="img-thumbnail" />
                <h3 class="text-center">Baby Shop</h3>
                <button class="btn btn-block">Shop Now</button>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://cdn.pixabay.com/photo/2014/06/25/21/46/bikini-377487_960_720.jpg" alt="Bikini on the beach with a seashell" class="img-thumbnail" />
                <h3 class="text-center">Swim Shop</h3>
                <button class="btn btn-block">Shop Now</button>
            </div>
        </div>
    </div>
</section>

<section id="shows">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 color">
                <h2 class="text-center">Off the Runway</h2>
                <p>He was seriously concerned that a cause of so little advantage to anyone should be forwarded at the sole expense of his brother-in-law, and he was determined, if possible, to find out the extent of his assistance, and to discharge the obligation as soon as he could.</p>
                <button class="btn btn-block">See Collection</button>
            </div>

            <div class="col-sm-12 col-md-7 col-lg-7">
                <img src="https://cdn.pixabay.com/photo/2016/11/19/20/17/catwalk-1840941_960_720.jpg" alt="models on the runway" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<section id="coming-soon">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://cdn.pixabay.com/photo/2018/03/01/14/57/portrait-3190849_960_720.jpg" alt="woman wearing a winter jacket" class="img-fluid" />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 color">
                <h2 class="text-center">Coming Soon!</h2>
                <p>He was seriously concerned that a cause of so little advantage to anyone should be forwarded at the sole expense of his brother-in-law, and he was determined, if possible, to find out the extent of his assistance, and to discharge the obligation as soon as he could.</p>
            </div>
        </div>
    </div>
</section>

<section id="bottom-nav">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>My Account</h3>
                <ul>
                    <li>Sign In</li>
                    <li>Register</li>
                    <li>Order Status</li>
                    <li>Returns</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Help</h3>
                <ul>
                    <li>Services</li>
                    <li>Ordering</li>
                    <li>Shipping Policy</li>
                    <li>Returns</li>
                    <li>Sizing</li>
                    <li>Our Products</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>About Us</h3>
                <ul>
                    <li>Our Story</li>
                    <li>Media</li>
                    <li>Investors</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3 class="text-center">Contact Us</h3>
                <ul>
                    <li>Live Chat</li>
                    <li>5.555.555.5555</li>
                    <li>Email Sign Up</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="group text-center">
                    <h4>Careers</h4>
                    <h4>Gift Cards</h4>
                    <h4>Store Locator</h4>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="group">
                    <ul>
                        <li>Privacy Policy</li>
                        <li>Terms of Use</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include ("partials/footer") -%>